/InicialSQL/nbproject/private/
/InicialSQL/build/
/InicialSQL/dist/
/EjerciciosSQL/nbproject/private/
/EntregableSQL/nbproject/private/
/AEntregableSQL/nbproject/private/
/AntividadEntregableSQL/nbproject/private/
/AntividadEntregableSQL/dist/
/AntividadEntregableSQL/build/
/SimulacroSQL/nbproject/private/
/tabaladel9/target/
/ExamenSQL/nbproject/private/
/ExamenSQL/build/
/ExamenSQL/dist/
/Agenda/nbproject/private/
/Agenda/build/
/Agenda/dist/
/repasoXML/nbproject/private/
/XML/RepasoXML/nbproject/private/
/XML/RepasoXML/build/
/XML/RepasoXML/dist/
